<table class="user-table" cellspacing="0" cellpadding="0">
	<thead class="user-table-header user-table-text">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Rol</th>
			<th>Teléfono</th>
		</tr>
	</thead>
	<tbody class="user-table-content">
		<tr class="user-table-row" ng-repeat="user in users track by $index" ng-class="{'selected-row': $index === activeRow}" ng-click="selectRow($index)">
				<td>
					{{user.id}}			
				</td>
				<td>
					{{user.name}}			
				</td>
				<td>
					{{user.role}}			
				</td>
				<td>
					{{user.phone}}			
				</td>
		</tr>
	</tbody>
</table>