<md-card>
<md-toolbar class="md-table-toolbar md-default" ng-hide="options.rowSelection && selected.length">
	<div class="md-toolbar-tools">
		<span>Usuarios</span>
	</div>
</md-toolbar>
<md-toolbar class="md-table-toolbar-alternate" ng-show="options.rowSelection && selected.length">
	<div class="md-toolbar-tools">
    <span>{{selected.length}} {{selected.length > 1 ? 'usuarios seleccionados' : 'usuario seleccionado'}}</span>
  </div>
</md-toolbar>
<md-table-container>
	<table md-table md-row-select multiple ng-model="selected">
		<thead md-head md-order="query.order">
			<tr md-row>
				<th md-column md-numeric md-order-by="id">ID</th>
				<th md-column md-order-by="name">Nombre</th>
				<th md-column md-order-by="role">Rol</th>
				<th md-column md-order-by="phone">Teléfono</th>
			</tr>
		</thead>
		<tbody md-body>
			<tr md-row md-select="user" md-select-id="id" md-auto-select ng-repeat="user in users | orderBy: query.order">
				<td md-cell>{{user.id}}</td>
				<td md-cell>{{user.name}}</td>
				<td md-cell>{{user.role}}</td>
				<td md-cell>{{user.phone}}</td>
			</tr>
		</tbody>
	</table>
</md-table-container>
</md-card>

<!-- <table class="user-table" cellspacing="0" cellpadding="0">
	<thead class="user-table-header user-table-text">
		<tr>
			<th>ID</th>
			<th>Nombre</th>
			<th>Rol</th>
			<th>Teléfono</th>
		</tr>
	</thead>
	<tbody class="user-table-content">
		<tr class="user-table-row" ng-repeat="user in users track by $index" ng-class="{'selected-row': $index === activeRow}" ng-click="selectRow($index)">
				<td>
					{{user.id}}			
				</td>
				<td>
					{{user.name}}			
				</td>
				<td>
					{{user.role}}			
				</td>
				<td>
					{{user.phone}}			
				</td>
		</tr>
	</tbody>
</table> -->