.user-table {
	width: 100%;
}

.user-table-header{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0,0,0,0.54);
}

.user-table-content{
	font-size: 15px;
	font-weight: 500;
	color: rgba(0,0,0,0.87);
}

.user-table-numeric {
	text-align: right;
}

.user-table-text {
	text-align: left;
}

