.user-table {
	margin-top: 25px;
	width: 95%;
	margin-left: 25px;
}

.user-table-header{
	font-size: 14px;
	font-weight: 400;
	color: rgba(0,0,0,0.54);
}

.user-table-header > tr > th{
	border-bottom: 1px solid #000000;
}

.user-table-content{
	font-size: 15px;
	font-weight: 500;
	color: rgba(0,0,0,0.87);
}

.user-table-row:hover {
	background-color: #EEEEEE;
}

.selected-row {
	background-color: #F5F5F5;
	outline: none;
}

.user-table-row > td{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: 1px solid #000000;
}

.user-table-numeric {
	text-align: right;
}

.user-table-text {
	text-align: left;
}

