 <!-- Menu bar --> 
<md-toolbar layout="row" class="md-toolbar-tools">
  <!-- Nombre de la app - Vista actual -->
  <h1>Appelu - Turnos</h1>
</md-toolbar>

<!-- Main container -->
<div flex layout="row">
  <!-- Sidebar -->
  <md-sidenav md-is-locked-open="true" class="md-whiteframe-4dp">
    <!-- Menu -->
    <md-list>
      <!-- Shifts -->
      <md-list-item>
        <md-button>
          Turnos
        </md-button>
      </md-list-item>
      <md-divider></md-divider>
      <!-- Reserves -->
      <md-list-item>
        <md-button>
          Reservas
        </md-button>
      </md-list-item>
      <md-divider></md-divider>
      <!-- Profile -->
      <md-list-item>
        <md-button>Perfil</md-button>
      </md-list-item>
      <md-divider></md-divider>
    </md-list>
  </md-sidenav>

  <md-content flex id="content">
      
    <!-- Content -->  

    <h2>Lia Luogo</h2>
    <p>
      I love cheese...
    </p>
  </md-content>
</div>
