<md-card flex="70">
  <md-card-content layout-padding>
    <h1>Bienvenido</h1>
    <div>
      <form name="loginForm" ng-submit="login()">
        <div layout="column">
          <md-input-container class="md-block" flex-gt-xs>
            <label>E-mail</label>
            <input type="email" name="email" placeholder="email@host.com" required="true" ng-model="user.email">
            <div ng-messages="loginForm.email.$error" role="alert" multiple="false">
              <div ng-message="email" class="login-error-msg">Por favor ingrese una dirección de correo válida</div>
            </div>
          </md-input-container>
          <md-input-container class="md-block">
            <label>Contraseña</label>
              <input type="password" name="password" ng-model="user.pass" placeholder="password" required="true"/>
              <div ng-messages="loginForm.password.$error" role="alert" multiple="">
                <div ng-message="required" class="my-message">Por favor ingrese su contraseña.</div>
              </div>
          </md-input-container>
          <div>
            <md-button ng-disabled="!loginForm.$valid" type="submit" class="md-raised md-primary">
            Entrar
            </md-button>
            <md-button ng-href="#!/register">Registrarse</a>
          </div>
        </div>
      </form>
    </div>
  </md-content>
</md-card>